@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  
  min-height: 100vh;
}

@media (min-width: 1024px) {
  body {
    background-color: "transparent"; 
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.fade-in {
  animation: fadeIn 2s ease-out;
}

.no-select {
  user-select: none;
  -webkit-user-select: none; /* Safari */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
}

.table-container {
  max-width: 100%;
  overflow-x: auto;
  white-space: nowrap;
}
